
@model tl2_tp10_2023_juanigramajo.ViewModels.Tableros.CrearTableroViewModel


<form asp-controller="Tablero" asp-action="CrearTablero">

    <input hidden asp-for="@Model.IdUsuarioPropietario">

    <div class="mb-3" class="form-group">
        <label asp-for="@Model.Nombre" class="form-label"></label>
        <input asp-for="@Model.Nombre" class="form-control"/>
        <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3" class="form-group">
        <label asp-for="@Model.Descripcion" class="form-label"></label>
        <input asp-for="@Model.Descripcion" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-info">Crear</button>
</form>


@section Scripts { <partial name="_ValidationScriptsPartial" /> }